/**
 * Default settings
 */
html, body {
    min-height: 100vh;
    color: #145eab;
    font-size: 18px;
    overflow-x: hidden;
}

h2 {
    font-size: 85px;
}

/**
 * Basic classes
 */
.overflow-hidden {
    overflow: hidden;
}

/**
 * Landing Page Header
 */

#app-header {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Header Image */
#app-header .header-image {
    display: block;
    position: absolute;
    top: -950px;
    left: 775px;
    z-index: 1000;
}

#app-header .container, #app-header .container-fluid {
    position: relative;
    z-index: 9000;
}

#app-header .container-fluid {
    margin-bottom: 180px;
}

#app-header .navbar {
    margin: 45px 60px 0 145px;
}

#app-header .navbar .navbar-brand img {
    height: 80px;
}

/**
 * Navigation
 */

#app-header .nav-item {
    margin-right: 50px;
}

#app-header .nav-item:last-child {
    margin-right: 0;
}

#app-header .nav-link {
    font-weight: bold;
    color: #ffffff;
}

/**
 * Header Bottom
 */
#app-header .header-title {
    font-size: 60px;
    font-weight: bold;
    margin: 0 0 60px 0;
}

#app-header .header-title span:first-child {
    color: #ffcb02;
}

#app-header .header-subtitle {
    margin-bottom: 65px;
    line-height: 27px;
}

#app-header .header-subtitle img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

#app-header .header-subtitle p {
    width: 350px;
    font-size: 22px;
    color: #666666;
}

/**
 * Header Form
 */

#app-header .header-form {
    width: 540px;
    margin-bottom: 150px;
}

#app-header .header-form input {
    background-color: #f0f0f1;
    padding: 20px 240px 20px 40px;
    color: #999999;
    border-radius: 30px;
    font-size: 18px;
}

#app-header .header-form button {
    padding: 17px 25px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 20px;
    color: #37537b;
}

/**
 * Header
 * Partners and contact
 */

#app-header .header-bottom {
    height: 100px;
    max-height: 100px;
}

#app-header .left {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
}

#app-header .left img {
    max-height: 100px;
    margin-left: 50px;
}

#app-header .right {
    font-weight: bold;
}

#app-header .right * {
    text-decoration: none;
}

#app-header .header-mail {
    border-bottom: 1px solid #145eab;
}

#app-header .right span {
    font-size: 30px;
}

/**
 * Stand Out Section
 */

.stand-out {
    padding: 50px 0 220px;
    overflow-x: hidden;
}

.stand-out h2 {
    position: absolute;
    line-height: 75px;
    z-index: 9000;
    top: 50px;
}

.stand-out .info {
    max-width: 1011px;
    padding: 65px 0 145px;
    margin-left: auto;
    border-radius: 100px;
    background-color: #e5ecf7;
    z-index: 1000;
}

.stand-out .info p {
    width: 800px;
    margin: 0 auto 65px;
}

/**
 * Info blocks
 */

.stand-out .info {
    padding: 65px 0;
}

.stand-out .info-block {
    max-width: 337px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stand-out .info-block img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.stand-out .info-block:hover * {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.stand-out .info-block img {
    height: 130px;
    width: 150px;
    margin: 45px 105px 30px;
    z-index: 9000;
}

.stand-out .info-block h3 {
    font-weight: bold;
    font-size: 20px;
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    z-index: 9000;
}

.stand-out .info-block:hover p {
    display: block;
}

.stand-out .info-block p {
    max-height: 480px;
    min-height: 480px;
    display: none;
    width: 360px;
    position: absolute;
    bottom: -315px;
    padding: 260px 25px 65px;
    text-align: justify;
    font-size: 16px;
    background-color: #fff;
    color: #333333;
    filter: drop-shadow(3px 4px 33px rgba(7,8,8,0.18)) !important;
    -webkit-filter: drop-shadow(3px 4px 33px rgba(7,8,8,0.18)) !important;
    border-radius: 80px;
    z-index: 1000;
}

/**
 * Absolute figures/images
 */

.stand-out .stand-out-image {
    display: block;
    position: absolute;
    top: 35px;
    left: -210px;
    z-index: 1000;
}

.stand-out .figure {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #24549c;
    border-radius: 50%;
    bottom: 420px;
    right: -130px;
    z-index: 1000;
}

.stand-out .info-image {
    width: 320px;
    height: 320px;
    display: block;
    position: absolute;
    top: -40px;
    right: -220px;
    z-index: 1000;
}

.activity .activity-figure {
    display: block;
    position: absolute;
    width: 480px;
    height: 480px;
    top: -75px;
    left: -360px;
}

/**
 * Info Contact Button
 */

.stand-out .info-contact {
    position: absolute;
    bottom: 125px;
    left: 0;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: #ffcb02;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #37537b;
}

/**
 * Activity Section
 */

.activity {
    color: #ffffff;
    position: relative;
    background: url("../images/activity/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.activity .container {
    padding: 75px 0;
}

.activity .left .right {
    z-index: 9000;
}

.activity .left .header-title {
    line-height: 80px;
    margin-bottom: 30px;
}

.activity .left .header-title span {
    color: #ffcb02;
}

.activity .left .header-subtitle {
    font-size: 22px;
    font-weight: bold;
}

.activity .left p {
    margin-top: 40px;
    width: 450px;
}

/**
 * Blocks
 */

.activity .right {
    margin-left: 70px;
}

.activity .right .d-flex:first-child {
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.activity .right-block .d-flex {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.activity .right-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 155px;
    max-height: 155px;
    min-width: 155px;
    max-width: 155px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #2d5b9f;
    border-radius: 48px;
}

.activity .right-block:hover, .activity .right-block.active {
    background-color: #ffcb02;
}

.activity .right-block img {
    height: 50px;
}

.activity .right-block span {
    margin-top: 10px;
    text-align: center;
}

.activity .right .d-flex.block-2 {
    margin-left: 150px;
}

.activity .right .d-flex.block-3 {
    margin-left: 300px;
}

/**
 * Realization section
 */
.realization {
    padding: 75px 0 50px;
    position: relative;
    overflow: hidden;
}

.realization .figure {
    display: block;
    position: absolute;
    width: 730px;
    height: 730px;
    top: 65px;
    right: -570px;
}

/**
 * Slider
 */

.realization .carousel-inner {
    padding-bottom: 35px;
}

.realization .slider-title, .realization .slider-list {
    color: #24549c;
}

.realization .slider-title {
    font-size: 20px;
    padding-bottom: 50px !important;
}

.realization .slider-list {
    margin: 0;
    padding-left: 25px;
    width: 430px;
    font-size: 16px;
}

.realization .slider-list li {
    margin-bottom: 10px;
}

.realization .slider-list li:last-child {
    margin-bottom: 0;
}

.realization .carousel-item img {
    min-height: 400px;
}

.realization .carousel-item .header-title {
    line-height: 80px;
}

.realization #carousel .header-title span {
    color: #ffcb02;
}

.realization .carousel-indicators {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.realization .carousel-indicators button {
    width: 15px;
    height: 15px;
    background-color: #91a9cd;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.realization .carousel-indicators button:last-child {
    margin-right: 0;
}

.realization .carousel-indicators button.active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #24549c;
    background-color: transparent;
}

.realization .carousel-indicators button.active .circle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #24549c;
    border-radius: 50%;
    margin: 3px;
}

/**
 * Footer
 */

#app-footer {
    z-index: 1000;
}

/**
 * Footer top
 */

#app-footer .top {
    background-color: #e7edf8;
    padding: 185px 0 100px;
}

#app-footer .top * {
    font-weight: 500;
}

#app-footer .top img {
    height: 60px;
    margin: 0 0 55px;
}

#app-footer .top .address {
    font-size: 16px;
    color: #24549c;
    margin-bottom: 30px;
}

#app-footer .top .contact {
    margin-bottom: 50px;
}

#app-footer .top .contact * {
    font-weight: bold;
    text-decoration: none;
    color: #24549c;
}

#app-footer .top .contact .mail {
    width: 175px;
    font-size: 23px;
    border-bottom: 1px solid #24549c;
}

#app-footer .top .contact span {
    font-size: 30px;
}

#app-footer .top .work-hours {
    font-size: 16px;
}

#app-footer .top .work-hours span {
    color: #24549c;
}

/**
 * Footer bottom
 */

#app-footer .bottom {
    padding: 50px 0;
    background-color: #f0f0f1;
    font-size: 14px;
    font-weight: bold;
}

#app-footer .bottom nav {
    margin-right: 9%;
}

#app-footer .bottom a {
    padding: 0;
    margin-right: 40px;
    color: #24549c;
}

#app-footer .bottom a:last-child {
    margin-right: 0;
}

/**
 * Footer copyright
 */

#app-footer .copyright {
    padding: 40px 0;
    font-size: 13px;
    color: #7a7a7a;
}

/*!***/
/* * Google Map*/
/* *!*/
/*#map {*/
/*    display: block;*/
/*    width: 950px;*/
/*    height: 100%;*/
/*    position: absolute !important;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/

/**
 * Footer form
 */

#footer-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9000;
}

#footer-form * {
    color: #24549c;
    font-weight: 600;
}

#footer-form .card, #footer-form .card-header, #footer-form .card-body {
    border: none;
}

#footer-form .card {
    border-radius: 80px;
    filter: drop-shadow(3px 4px 33px rgba(7,8,8,0.18));
    -webkit-filter: drop-shadow(3px 4px 33px rgba(7,8,8,0.18));
}

#footer-form .card-header {
    border-radius: 80px 80px 0 0;
    background-color: #ffcb02;
    padding: 45px 65px 30px;
    font-size: 25px;
    text-align: center;
}

#footer-form .card-body {
    padding: 30px 45px 45px;
}

#footer-form .card-body .form-group {
    margin-bottom: 10px;
}

#footer-form .card-body .last-form-group {
    margin-bottom: 20px;
}

#footer-form .card-body .form-group label {
    margin: 0 0 5px 20px;
    font-size: 16px;
}

#footer-form .card-body .form-group input.form-control {
    padding: 20px;
    border: none;
    border-radius: 33px;
    background-color: #f0f0f1;
    font-size: 16px;
    font-weight: normal;
}

#footer-form .card-body .form-group input:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

/**
 * File Input
 */

#footer-form .card-body .file-input {
    min-width: 160px;
    min-height: 125px;
    max-width: 160px;
    max-height: 125px;
    position: relative;
    font-size: 16px;
    text-align: center;
    border: 2px dotted #535353;
    border-radius: 18px;
}

#footer-form .card-body .file-input label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#customFile {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
}

#footer-form .card-body button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    /*width: 180px;*/
    /*height: 60px;*/
    background-color: #ffcb02;
    border: none;
    border-radius: 34px;
    font-size: 20px;
    font-weight: normal;
}

/**
 * Re-write bootstrap burger
 */

.navbar-light .navbar-toggler {
    color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#myModal {
    z-index: 99999;
}
