@media (max-width: 1790px) {
    /**
     * Header
     */
    #app-header .navbar {
        margin-right: 30px;
        margin-left: 200px;
    }

    #app-header .header-image {
        left: 750px;
    }

    #app-header .nav-item {
        margin-right: 35px;
    }

    #app-header .header-form {
        margin-bottom: 200px;
    }

    /**
     * Stand Out Section
     */
    .stand-out h2 {
        position: relative;
        margin-bottom: 100px;
        margin-left: 120px;
    }

    .stand-out .info {
        max-width: 100%;
    }

    .stand-out .info-image {
        top: -80px;
        right: -150px;
    }

    .stand-out .info-contact {
        display: none;
    }

    /**
     * Activity section
     */
    .activity .activity-figure {
        left: -400px;
    }

    /**
     * Realization section
     */
    .realization .carousel-item img {
        min-height: 350px;
    }

    /**
     * Footer
     */
    #app-footer .top {
        padding: 1px 0 100px;
    }

    #app-footer .top .container {
        margin-top: 100px;
    }

    #app-footer .bottom .wrapper {
        width: 1320px;
        margin: 0 auto;
    }

    #app-footer .bottom nav {
        justify-content: flex-start !important;
        margin: 0;
    }

    /**
     * Footer form
     */
    #footer-form {
        top: 4%;
        right: 150px;
        transform: none;
    }

    /**
     * Map
     */
    #map {
        position: relative !important;
        width: 100%;
        height: 700px;
    }
}

@media (max-width: 1530px) {
    /**
     * Header
     */
    #app-header .navbar {
        margin-right: 30px;
        margin-left: 100px;
    }

    #app-header .header-image {
        left: 470px;
    }

    #app-header .header-title {
        font-size: 43px;
    }

    #app-header .header-subtitle img {
        margin-right: 20px;
    }

    #app-header .header-subtitle p {
        font-size: 18px;
    }

    #app-header .header-form {
        width: 440px;
    }

    /**
     * Stand Out Section
     */
    .stand-out .stand-out-image {
        display: none;
    }

    .stand-out .figure {
        display: none;
    }

    .stand-out h2 {
        margin-left: 0;
        text-align: center;
    }

    /**
     * Activity section
     */
    .activity .right {
        margin-left: 30px;
    }

    .activity .right .d-flex.block-2 {
        margin-left: 135px;
    }

    .activity .right .d-flex.block-3 {
        margin-left: 270px;
    }

    .activity .right-block {
        min-height: 135px;
        max-height: 135px;
        min-width: 135px;
        max-width: 135px;
    }

    .activity .right-block:hover img, .activity .right-block.active img {
        height: 60px;
    }

    .activity .activity-figure {
        display: none;
    }
}

@media (max-width: 1400px) {
    /**
     * Footer
     */
    #app-footer .bottom .wrapper {
        width: 1140px;
        margin: 0 auto;
    }


    #app-header .header-bottom {
        flex-direction: column;
        margin-bottom: 100px;
    }

    #app-header .header-bottom .left {
        margin-bottom: 30px;
    }

    #app-header .header-bottom .right {
        align-items: center;
    }
}

@media (max-width: 1370px) {
    /**
     * Header
     */
    #app-header .header-form {
        margin-bottom: 250px;
    }

    /**
     * Realization section
     */
    .realization .carousel .header-title {
        margin-bottom: 30px;
    }

    .realization .carousel-item img {
        min-height: unset;
        width: 100%;
    }

    /**
     * Footer Form
     */
    #footer-form .card-header {
        font-size: 20px;
    }

    #footer-form {
        right: 100px;
    }
}

@media (max-width: 1310px) {
    /**
     * Activity section
     */
    .activity .container {
        flex-direction: column-reverse;
    }

    .activity .right-block {
        margin-bottom: 40px;
    }

    .activity .right {
        margin: 0;
    }

    .activity .right .d-flex {
        justify-content: center;
        align-items: center !important;
        margin: 0 !important;
    }

    .activity .left .header-title {
        line-height: 90px;
    }

    .activity .left .header-title, .activity .left .header-subtitle {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    #activity-text {
        margin: 0 auto;
        text-align: justify;
    }

    /**
     * Realization Section
     */
    .realization .header-title {
        text-align: center;
        margin-bottom: 50px !important;
    }

    .realization .carousel .row {
        flex-direction: column;
        align-items: center !important;
    }

    .realization .carousel .row div {
        width: 100%;
    }

    .realization .carousel .row div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px !important;
    }

    .realization .slider-title {
        text-align: center !important;
    }

    .realization .carousel-indicators {
        padding: 0;
        justify-content: center;
    }

    /**
     * Footer
     */
    #app-footer .top {
        padding: 1px 0 600px;
    }

    #app-footer .top .container {
        display: flex;
        justify-content: space-between;
    }

    #footer-form {
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1270px) {
    /**
     * Header
     */
    #app-header .navbar {
        margin-right: 30px;
        margin-left: 30px;
    }

    #app-header .header-image {
        left: 400px;
    }
}


@media (max-width: 1200px) {
    /**
     * Header
     */
    #app-header {
        background-color: #145eab;
        color: #ffffff;
    }

    #app-header .container-fluid {
        margin-bottom: 100px;
    }

    #app-header .header-title {
        text-align: center;
    }

    #app-header .navbar .navbar-brand img {
        content: url("../images/white-logo.svg");
    }

    #app-header .header-subtitle img {
        content: url("../images/white-mini-logo.svg");
    }

    #app-header .header-subtitle p {
        color: #ffffff;
    }

    #app-header .header-image {
        content: url("../images/mobile-header-image.png");
        top: -660px;
        left: 200px;
    }

    #app-header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #app-header .header-form {
        margin-bottom: 100px;
    }

    #app-header .left span {
        color: #ffffff;
    }


    #app-header .header-bottom .right a {
        color: #ffffff;
        border-color: #ffffff;
    }

    /**
     * Stand Out Section
     */
    .stand-out {
        padding: 150px 0;
    }

    .stand-out .info {
        background-color: unset;
    }

    .stand-out .info-image {
        display: none;
    }

    .stand-out .info-title {
        width: 80% !important;
        margin: 0 auto;
        text-align: justify;
    }

    .stand-out .info-blocks {
        display: inline !important;
    }

    .stand-out .info-block {
        float: left;
        max-width: unset;
        width: calc(50% - 40px);
        background-color: #fff;
        margin: 0 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: drop-shadow(3px 4px 33px rgba(7, 8, 8, 0.18)) !important;
        -webkit-filter: drop-shadow(3px 4px 33px rgba(7, 8, 8, 0.18)) !important;
        border-radius: 80px;
    }

    .stand-out .info-block:last-child {
        margin-bottom: 0;
    }

    .stand-out .info-block * {
        filter: grayscale(0%) !important;
        -webkit-filter: grayscale(0%) !important;
    }

    .stand-out .info-block p {
        display: block;
        position: relative !important;
        text-align: justify;
        font-size: 16px;
        color: #333333;
        padding: 0;
        /* unset */
        filter: unset !important;
        bottom: unset;
        background-color: unset;
        max-height: unset;
        min-height: unset;
    }

    /**
     * Footer
     */
    #app-footer .bottom .wrapper {
        width: 960px;
    }
}

@media (max-width: 1120px) {
    /**
     * Footer Form
     */
    #footer-form .card-header {
        font-size: 16px;
    }

    #footer-form .card-body .d-flex {
        flex-direction: column;
    }

    #footer-form .card-body .file-input {
        width: 100% !important;
        min-height: 50px;
        max-height: 50px;
        margin-bottom: 20px;
        /**
         * unset
         */
        min-width: unset;
        max-width: unset;
    }

    #footer-form .card-body .d-flex button {
        width: 100%;
    }
}

@media (max-width: 992px) {
    /**
     * Header
     */
    #app-header .navbar-collapse {
        margin-top: 40px;
        background-color: #fff;
        border-radius: 40px;
    }

    #app-header .navbar-collapse * a:first-child {
        margin-top: 20px;
    }

    #app-header .navbar-collapse * a {
        margin: 0 0 20px 50px;
        color: #145eab !important;
    }

    #app-header .header-bottom {
        height: auto;
        max-height: unset;
    }

    #app-header .header-bottom .left {
        min-height: 364px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #app-header .header-bottom span {
        font-size: 30px;
        margin-bottom: 30px;
    }

    #app-header .header-bottom .left img {
        margin: 0 auto 30px;
        /*width: 200px;*/
    }

    #app-header .header-bottom .left img:last-child {
        margin-bottom: 0;
    }

    /**
     * Stand Out Section
     */
    .stand-out .info-blocks {
        display: block !important;
    }

    .stand-out .info-block {
        width: 75%;
        margin: 0 auto 40px;
        float: unset;
    }

    .stand-out .info-block p {
        width: inherit;
    }

    /**
     * Footer
     */
    #app-footer .top {
        padding-bottom: 700px;
    }

    #app-footer .top .container {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #app-footer .top .contact {
        align-items: center;
    }

    /**
     * Footer Form Start
     */
    #footer-form {
        width: 55%;
    }

    #footer-form {
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /**
     * Footer Form End
     */
    #app-footer .bottom .wrapper {
        width: 100%;
    }

    #app-footer .bottom nav {
        justify-content: center !important;
    }

    #app-footer .copyright {
        text-align: center;
    }
}

@media (max-width: 576px) {
    /**
     * Realization Section
     */
    .realization .figure {
        display: none;
    }

    .realization .slider-title {
        text-align: center;
    }

    /**
     * Activity Section
     */
    .activity .right-block {
        min-height: 115px;
        max-height: 115px;
        min-width: 115px;
        max-width: 115px;
    }

    .activity .right-block:hover span, .activity .right-block.active span {
        font-size: 16px;
    }

    /**
     * Stand Out Section
     */

    .stand-out {
        padding: 100px 0;
    }

    /**
     * Realization Section
     */

    .realization .carousel-item img {
        width: 95%;
        margin: 0 auto;
    }

    /**
     * Footer form
     */
    #footer-form {
        width: 80%;
    }
}

@media (max-width: 506px) {
    /**
     * Header
     */
    #app-header .header-title {
        font-size: 36px;
    }

    #app-header .header-subtitle {
        flex-direction: column;
    }

    #app-header .container, #app-header .container-fluid {
        padding: 0;
    }

    #app-header .header-subtitle img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #app-header .header-subtitle p {
        text-align: center;
    }

    /**
     * Stand Out Section
     */

    .stand-out .info-block {
        width: 90%;
    }

    /**
     * Activity Seciton
     */

    .activity .container {
        padding: 100px 0;
    }

    .activity .right {
        margin-bottom: 100px;
    }

    .activity .right .d-flex {
        flex-direction: column;
    }

    .activity .right-block, .activity .right-block:hover, .activity .right-block.active {
        min-height: unset;
        max-height: unset;
        min-width: unset;
        max-width: unset;
        width: 95%;
        height: 100%;
        margin-bottom: 10px;
        padding: 20px 0;
    }

    #activity-text {
        width: 90%;
    }

    /**
     * Realization Section
     */

    .realization .slider-title, .realization .slider-list {
        width: 95%;
    }
}

@media (max-width: 470px) {
    /**
     * Footer
     */

    #footer-form {
        width: 90%;
        top: 54%;
    }

    #app-footer .top {
        padding: 1px 0 700px;
    }

    #app-footer .bottom nav {
        flex-direction: column;
        align-items: center;
    }

    #app-footer .bottom a {
        padding: .5rem 1rem;
        margin: 0;
    }
}

@media (max-width: 450px) {
    /**
     * Default
     */

    h2 {
        font-size: 65px;
    }

    /**
     * Header
     */

    #app-header .header-image {
        top: -400px;
        left: 50px;
    }

    #app-header .header-subtitle {
        margin-bottom: 75px;
    }

    #app-header .header-form input {
        width: 80%;
        margin: 0 auto 10px;
        padding-right: 40px;
    }

    #app-header .header-form button {
        display: block;
        width: 80%;
        position: relative;
        top: unset;
        right: unset;
        margin: 0 auto;
    }

    /**
     * Stand Out Section
     */

    .stand-out {
        padding: 50px 0;
    }

    .stand-out .info {
        padding: 0;
    }
}

@media (max-width: 380px) {
    /**
     * Header
     */

    #app-header .header-image {
        top: -400px;
        left: 0;
    }

    #app-header .navbar {
        margin-left: 10px;
        margin-right: 10px;
    }

    /*#app-header .navbar .navbar-brand {*/
    /*    height: 40px;*/
    /*}*/

    #app-header .header-title {
        font-size: 30px;
    }

    #app-header .header-form input {
        width: 70%;
    }

    #app-header .header-form button {
        width: 70%;
    }

    /**
     * Stand Out
     */
    .stand-out .info-block {
        width: 95%;
    }

    .stand-out .info-block p {
        padding: 0 5px;
    }

    /**
     * Activity Section
     */

    .activity .left .header-subtitle {
        width: 95%;
        margin: 0 auto 20px;
    }

    /**
    * Footer
    */

    #footer-form {
        top: 55%;
        width: 95%;
    }

    /*!***/
    /* * Map*/
    /* *!*/
    /*#map {*/
    /*    height: 500px;*/
    /*}*/
}
